<% geo_json = RGeo::GeoJSON.encode(@field.shape) %>
<div
  data-controller="field-edit-map"
  data-field-edit-map-geo-json="<%= geo_json.to_json %>"
  data-field-edit-map-id="<%= @field.id %>"
>
  <%= form_with id: 'edit-field-form', scope: "field", url: "/fields" do |form| %>  
    <div class="container pt-4">
      <div class="row">
        <div class="col-4 form-group">
          <a href="/fields/<%= @field.id %>">
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
            Cancel edit
          </a>
          <h3 class="mt-4">✏️ Edit field</h3>
          <br/>
          <%= form.text_field :name, placeholder: 'Field name', class: 'form-control', required: true %>
          <br />
          <div class="alert alert-danger d-none" role="alert">
            Error text
          </div>
          <div class="d-flex justify-content-end">
            <%= form.submit class: 'btn btn-primary', value: "Update" %> 
          </div>
        </div>
        <div class="col-8">
          <div data-field-edit-map-target="container" class="map"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
